section  
  .text_main
    h1 Подтяжка лица и шеи (фейслифтинг, SMASлифтинг)
    p Операция подтяжки лица и шеи (фейслифтинг)
    p
      | Операция устраняет усталый вид, восстанавливает форму лица и шеи, устраняет глубокие морщины и складки избытка жтровой ткани, перемещает опущенные ткани лица и шеи в антигравитационногое положение. Она выполняется чаще всего после 45 лет.Современные модификации фейслифтинга- это не столько подтяжка кожи, сколько слоя тканей под кожей и кожа перемещается вместе с глубокими слоями и позволяет получить четкие контуры лица и шеи без видимых усилий выглядеть молодо
    p
      | Операции может варьировать в зависимости от степени и характера возрастных изменений.
    p -  Кожная подтяжка лица и шеи - перемещение и иссечение избытков кожи
    p - SMAS лифтинг - подтяжка не только кожных покровов, но и мышечного каркаса
    p  -DMAS лифтинг - подтяжка и перемещение глубоких структур лица и шеи 
    p  
    p
      | Фейслифтинг- это операция , которая  высокоэффективна при правильном ее исполнении и ее усовершенствование сделали  более безопасной ,с менее продолжительным сроком реабилитации.Работа в течение многих лет в данном направлении по внедрению современных методик позволяет нам с успехом выполнять нестандартные, комплексные омолаживаюшие операции
    p
      | Во время консультации мы рекомендуем частичную или полную операцию. Особое внимание уделяется применению современных способов операции, основанных на детальном соблюдении техники операции и одномоментном  выполнении   процедур, комбинация которых может дать эффективный и продолжительный результат (SMAS-подтяжка, платизмопластика, липосакция) Такой комплексный фейслифтинг требует высокой квалификации хирурга и позоляет получить гармоничный результат .
    p
      img(style='display: block; margin-left: auto; margin-right: auto;', src='../assets/img/services/fejsliftlicashei.png', alt='')
    div
      | Возможно одновременное проведение операции с блефаропластикой или пластикой верхней зоны лица с целью гармонизации результата и сокращения реабилитационного периода.
    p
      | Для определенной категории пациентов приемлимы более щядящие, частичные виды фейслифтинга.
    p
      | Мы предпочитаем частичные лифтинги сопровождать проведением нитей, которые дополнят антигравитационный эффект. Основной аргумент, что если это мини- фейслифтИНГ, то это безапаснее и лучше. Все же большинство хирургов считают что Мини-фейс лифтинги это не ново и не дает впечатляющих результатов. Пациенты хотят избежать операции и готовы платить больше за меньшее, чтобы получить результат сразу. К примеру, увеличивают постепенно количество филеров, так как возрастные изменения продолжаются, что в конце концов приводит к тому, что выглядят ненатурально.
    p
      img(style='display: block; margin-left: auto; margin-right: auto;', src='../assets/img/services/minifejslift.png', alt='')
    p
      | Многие пациенты все все же нуждаются в полноценном Фейс лифтинге и только для 5-10 % пациентов щядящие методы операции будут достаточно эффективны. Однако, Фейс лифтинг не может устранить постоянные морщины . Такие процедуры,как дермоабразия, пилинг могут быть использованы для их уменьшения.
    p
      | Благодаря эволюции хирургии лица на основании глубоких исследований понимания анатомии и работ хирургов, сегодня после фейс лифтинга можно долгое время выглядеть прекрасно без признаков операции.
    p
      em
        | Восстановительный период продлится 2-3 недели при благоприятном течении послеоперационного периода. При наполнении его разнообразными реабилитационные мероприятий он будет более комфортным.
