html
  body
    .text_main
      h1  Подтяжка верхней зоны лица (пластика лба )
      p
        | Цель операции коррекция опущенных бровей, устранение морщин лба и в области корня носа, нависание тканей в надбровной области мы прелагаем открытый лифтинг верхней зоны лица. Операция выполняется через различные формы разрезов в волосистой части головы, которые впоследствие незаметны или малозаметны при правильно выполненной операции. Если линия роста волос очень высоко расположена, то разрез может частично проходить по границе волосистой части, что позволит уменьшить высоту лба.
      p
        img(style='display: block; margin-left: auto; margin-right: auto;', src='../assets/img/services/fejs.png', alt='')
      p
        | Операция позволяет весьма эффективно поднять брови и в значительной степени устранить морщины лба и у корня носа так как сопровождается резекцией мыщц, сохранив лишь часть, которая необходима для сохранения для умеренной мимики.
      p
        | Она может быть выполнена в сочетании с блефаропластикой или лифтингом друзих зон лица и шеи.
      p
        | Мы используем открытый способ лифтинга верхней зоны лица в течение многих лет и рассматриваем ее как операцию, которая непременно должна быть в арсенале эстетических операций , несмотря на популяризацию эндолифтинга.
      p Результат:
      p
        | Операция сохраняется годы и крайне редко возникает необходимость повторного лифтинга.
      p
        em
          | Восстановительный период составляет у большинства пациентов поторы недели. Применение различных реадилитационных мероприятий способствует более комфортному его прохождению.
