section
  .flex
    h1 hello
    h2 hello again

section
  h2 Приоритеты
  p Приоритеты
    ul 
      li Безопасность
    
        p Безопасность пациента – это абсолютно первый приоритет. Она всегда практиковала и практикует в медицинских учреждениях, где могут обеспечить высокопрофессиональную анестезиологическую помощь и уход за пациентами .
        
        p Хирургическая безопасность основана на специализации доктора в эстетической хирургии лица, многолетняя практика и умение выбрать из огромного арсенала хирургических средств только те, которые не несут угрозу осложнений и проверены временем.
        
      li Натуральность
      li Эффективность
      li Длительность результата операции

//- 
//- 
//-  2.  
//- 
//- Ненатуральность хирургического результата в виде натянутости кожи, асимметрии, изменение улыбки, заметных швов- это неприемлимый исход операции . Конечный результат – хорошо выполненная операция должна привести к естественному , более «свежему» виду с мимикой и без нее. Для этого доктор овладевает и использует различные варианты операций , которые позволяют скрыть видимость перенесенной операции таким образом , что даже близкому окружению они незаметны.
//- 
//-  3. 
//- 
//- Результат эстетической операции должен быть убедительным . Нередко пациенты обращаются после операции , выполненной другими хирургами с жалобами на недостаточную эффективность операции и они могут быть обоснованы. Каждая операция имеет пределы результативности , но правильная оценка ее возможностей, тщательное ее выполнение позволяет достигнуть прогнозируемого исхода, который
//- 
//- был ожидаем пациентом Во время консультации доктор подробно разъясняет пациенту преимущества , недостатки того или иного варианта лечения и совместно с пациентом определяет наиболее оптимальный метод.
//- 
//-  4. 
//- 
//- Возрастные изменения , конечно, продолжаются и после операции, но общее улучшение должно оставаться очевидным годы и более 10 лет. Пациент обычно продолжает с годами выглядеть моложе, чем если бы он не перенес операцию
//- 
//- Если пациенту была выполнена хорошо , то повторная операция через годы требуется гораздо меньшая по объему .
