section
  .text_main
    h1 О хирурге
    h3 Чоо Галина Аркадьевна
    p
      img(style='float: right; margin: 10px 20px;', src='../assets/img/doctor.jpg', alt='', width='300')
    p(style='text-align: justify;')
      | Пластический хирург, челюстно- лицевой хирург, доцент, кандидат медицинских наук, врач высшей  						квалификационной категории. Хирургичесий стаж - 25 лет. Награждена знаком «отличник здравоохранения»
    p(style='text-align: justify;')
      | Владеет широким спектром эстетических и реконструктивных операций . Несмотря на хирургическую  						разносторонность , целенаправленно специализируется на эстетической хирургии лица . Фокусирование на  						небольшом, но сложном разделе пластической хирургии позволяет ей акцентировать внимание на нюансах  						хирургии для достижен ия натурального результата после операции. Целенаправленно занимается пластикой  						восточных век и восточного типа лица
    p(style='text-align: justify;')
      | Профессиональная подготовка в ведущих клиниках страны , стажировки в США и Республике Корея и большой  						практический опыт (более 2000 операций) позволяют выполнять операции на высоком уровне.Тщательно  						подходит к выбору метода операции Автор свыше 20 публикаций по пластической хирургии
    p Сертификация по специальностям пластическая хирургия и челюстно-лицевая хирургия
    p  
    h2 Философия
    p  
    p
      | Мои многолетние усилия направлены на получение исключительного косметического результата в безопасном и комфортабельном режиме. Я и мои коллеги и помощники понимаем , что эстетическая хирургия требует больше, чем просто сертификата или лицензии. Необходим интенсивный хирургический труд, деликатная хирургическая техника, внимание к деталям .  Я фокусируюсь на эстетических и реконструктивных операциях только на лице и шее с целью совершенствования и улучшения результатов операциии
    p Очень важно, чтобы реальные цели и ожидания определились до операции . 
    p
      | Мы стараемся освоить различные способы операции ( простые и сложные , более радикальные и щадящие) , их сочетание и равноценное владение нам помогает определить наилучший вариант для пациента.
    p
      | Сегодня наблюдается тенденция к малоинвазивным методам в эстетической хирургии, использование которых становится популярным, но особенность эстетический хирургии такова, что без классических методов операции чаще всего не обойтись .Не полная замена их малоинвазивными операциями , а полноценнонное их применение и совершенствование , чтобы сделать их максимально безопасными и получить естественный результат. Каждое усилие делается для того , чтобы полностью информировать пациента о будущей процедуре .
