footer
  .flex.space--between
    .col-50
      .row.footer-title
        h3 Чоо Галина Аркадьевна. Официальный сайт
      .row
        .col-1
          ul
            li: a(href="about") О хирурге
            li: a(href="services") Услуги
            li: a(href="fotogallery") Фотогалерея
            li: a(href="faq") Вопрос/Ответ
            li: a(href="contacts") Контакты
        
    .col-1
      p +7(925) 101-90-87
      p cho_galina54@mail.ru
