header
  .header-top
    .logo 

    nav
      ul
        li: a(href="about") О хирурге
        li: a(href="services") Услуги
        li: a(href="fotogallery") Фотогалерея
        li: a(href="faq") Вопрос/Ответ
        li: a(href="contacts") Контакты

  .header-bottom
    .header-title
      h3 Пластический хирург Чоо Галина Аркадьевна
    .header-tel
      <i class="fa fa-mobile"></i>  
      tel.top-phone 
        span  8-915-055-5555
