section.home-banner
  .flex.space--center
    .bubble
      .content
        h1 
          | Чоо
          br
          |Галина
          br
          |Аркадьевна
        h2 ПЛАСТИЧЕСКИЙ ХИРУРГ, кмн
        p Профессиональная подготовка в ведущих клиниках страны , стажировки в США и Республике Корея и большой практический опыт (более 2000 операций). Автор свыше 20 публикаций по пластической хирургии
        
        button Узнать подробнее
        
section.services
  .flex.space--center
    .col-50.services-list
      ul
        li Лифтинг лица и шеи
        li Лифтинг средней зоны лица
        li Лифтинг верхней зоны лица
        li Блефаропластика верхних и нижних век
        li Блефаропластика восточных век
        li Ринопластика
        li Отопластика
        li Коррекция рубцов лица и шеи
        li Повторные операции
        li Реконструктивные операции
        
    .col-50.service-banner
      
section.doctor
  .flex.space--center
    .col-1
      
    .doctor_msgbox
      .doctor_msgbox_content
        p.doctor-msgbox-content-text Мои многолетние усилия направлены на получение исключительного косметического результата в безопасном и комфортабельном режиме. Я и мои коллеги и помощники понимаем , что эстетическая хирургия требует больше, чем просто сертификата или лицензии. Необходим интенсивный хирургический труд, деликатная хирургическая техника, внимание к деталям.  Я фокусируюсь на эстетических и реконструктивных операциях только на лице и шее с целью совершенствования и улучшения результатов операции.
      
        p Очень важно, чтобы реальные цели и ожидания определились до операции.
        
        .doctor_msgbox_content_signature-box
          h4 Чоо Галина Аркадьевна
          p кмн, врач высшей категории

section.testimonials
  .flex
    .col-75
      ul.bxslider
        li 
          div Отличный доктор. Спасибо большое!
        li 
          div Особое внимание на детали и хорошее отношение!
        li 
          div Буду теперь делать только у Вас!!!!
      
    .col-1
      button читать еще
  
section.form
  .col-50
    .col-1.form-content
      
  .col-50
    .col-1.map
    
