section.front-banner
  .container
    .bubble
      .content
        h1 
          | Чоо
          br
          |Галина
          br
          |Аркадьевна
        .hr
        h2 ПЛАСТИЧЕСКИЙ ХИРУРГ, кмн
        p Профессиональная подготовка в ведущих клиниках страны , стажировки в США и Республике Корея и большой практический опыт (более 2000 операций). Автор свыше 20 публикаций по пластической хирургии
        
        button Узнать подробнее
        
section.services
  .services-container
    .services-list
      ul
        li Лифтинг лица и шеи
        li Лифтинг средней зоны лица
        li Лифтинг верхней зоны лица
        li Блефаропластика верхних и нижних век
        li Блефаропластика восточных век
        li Ринопластика
        li Отопластика
        li Коррекция рубцов лица и шеи
        li Повторные операции
        li Реконструктивные операции
      
    .service-banner
    
secton.container-welcome
  .doctor-face
    h1 a;
    
  .welcome-msg-wrap
    .welcome-msg-content
      p Мои многолетние усилия направлены на получение исключительного косметического результата в безопасном и комфортабельном режиме. Я и мои коллеги и помощники понимаем , что эстетическая хирургия требует больше, чем просто сертификата или лицензии. Необходим интенсивный хирургический труд, деликатная хирургическая техника, внимание к деталям.  Я фокусируюсь на эстетических и реконструктивных операциях только на лице и шее с целью совершенствования и улучшения результатов операции.
    
      p Очень важно, чтобы реальные цели и ожидания определились до операции.
      
      .signature
        h2 Чоо Галина Аркадьевна
        p кмн, врач высшей категории
        
        .hand-signature
