section.services
  .services-container
    .services-list
      ul
        li Лифтинг лица и шеи
        li Лифтинг средней зоны лица
        li Лифтинг верхней зоны лица
        li Блефаропластика верхних и нижних век
        li Блефаропластика восточных век
        li Ринопластика
        li Отопластика
        li Коррекция рубцов лица и шеи
        li Повторные операции
        li Реконструктивные операции
      
    .service-banner
