.header-top
  display: flex
  background:
    // color: blue

  .logo
    margin-left: 15px

    width: 30%
    background:
      image: url(/assets/img/logo.svg)
      repeat: no-repeat
      position: left
      // color: yellow

    // size: contain
  nav
    width: 90%
    // padding: 0  0
    background:
      // color: pink

    ul
      padding: 0 15% 0 20%
      display: flex
      justify-content: space-between
      list-style-type: none
      text-transform: uppercase

      li
        a
          color: #878080

.header-bottom
  display: flex
  background-color: black
  color: white

  .header-title
    width: 75%

    h3
      color: white
      font-size: 20px
      padding-left: 40%

  .header-tel
    display: flex
    align-items: center

    i
      font-size: 40px
      margin-right: 10px

    tel
      font-size: 24px
      color: #92b4db
