//columns
.col-1
  max-width: 320px

.col-2
  max-width: 640px

.col-50
  width: 50%

.row
  width: 100%

//layouts
.flex
  display: flex
  flex-direction: row
  
.space--center
  justify-content: center

.space--between
  justify-content: space-between

.space--around
  justify-content: space-around

.push-right
  float: right
  margin: 15px 35px auto
