.col-1
  width: 320px


.front-banner
  display: flex
  height: 475px

  .container
    width: 100%
    background:
      margin-left: 15%
      image: url(/assets/img/front-banner1.png)
      position: 460px
      size: contain
      repeat: no-repeat

    .bubble
      position: relativeo
      box-sizing: border-box
      float: right
      margin-right: 30%
      border-radius: 50%
      width: 450px
      height: 450px
      border: 4px solid $fblue
      background: #f1f1f1

      .content
        // position: fixed
        display: flex
        flex-direction: column
        margin: 40px 50px 60px 60px
        box-sizing: border-box
        justify-content: center
        width: 350px
        // background-color: green


        h1
          padding-left: 20px
          font-size: 36px

        .hr
          height: 2px
          border: 1px
          background-color: $fgrey

        h2
          font-size: 22px
          color: $fblue

        p
          margin: 0 0 24px 0

        button
          align-self: center
          background-color: red
          width: 50%
          padding: 0
          color: white
          background-color: $fblue


.services-container
  // width: 100%
  display: flex
  flex-direction: row
  padding: 40px 0
  background-color: #f9f9f9

  .services-list
    width: 40%
    margin-right: 70px
    border-right: 4px solid $fgrey
    ul
      font-size: 18px
      padding-right: 25px
      line-height: 30px
      list-style-type: none
      text-align: right
      color: #8e8b8b


  .service-banner
    width: 60%
    background:
      image: url(/assets/img/look.jpg)
      size: contain
      repeat: no-repeat
      // position: 150px
      margin-left: 50px

.container-welcome
  display: flex
  flex-direction: row
  flex-wrap: wrap
  padding: 60px 0
  justify-content: center


  .doctor-face
    min-width: 200px
    background: pink
      image: url(/assets/img/docface.jpg)
      repeat: no-repeat
      position: center

  .welcome-msg-wrap
    width: 75%
    margin-left: 50px

    .welcome-msg-content
      width: 80%
      // margin: 0 225px
      border-radius: 0 35px 35px 35px
      background:
        color: green
